<%- include('./../fragments/header.ejs') %>
    <main>
        <h2>Kierowcy</h2>
        <table class="table-list">
            <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Data urodzenia</th>
                <th>Narodowość</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <% for (let driver of drivers) { %>
            <tr>
                <td><%= driver.firstName %></td>
                <td><%= driver.lastName %></td>
                <td><%= driver.dateOfBirth.toISOString().split('T')[0] %></td>
                <td><%= driver.nationality %></td>
                <td>
                    <ul class="list-actions">
                        <li>
                            <a href="/drivers/details/<%=driver._id%>" class="list-actions-button-details">Szczegóły</a>
                        </li>
                        <% if(loggedUser) { %>
                        <li>
                            <a href="/drivers/edit/<%=driver._id%>" class="list-actions-button-edit">Edytuj</a>
                        </li>
                        <li>
                            <a href="/drivers/delete/<%=driver._id%>" class="list-actions-button-delete">Usuń</a>
                        </li>
                        <% } %>
                    </ul>
                </td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <% if(loggedUser) { %>
        <p><a href="drivers/add" class="button-add">Dodaj nowego kierowcę</a></p>
        <% } %>
    </main>
<%- include('./../fragments/footer.ejs') %>